<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content screen">
      <div class="modal-body question">
        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add a Question</h3>
        <form class="form-horizontal" role="form">

		        <div class="form-group">
  		          <div class="col-sm-10">
  		              <textfield class="form-control" id="name" placeholder="Question" ng-model="question">
  		          </div>
    		      <div class="col-sm-10">
    		          <textfield class="form-control" id="answer" placeholder="Answer" ng-model="answer">
    		      </div>
		        </div>
            <div class="col-sm-3 col-sm-offset-8">
              &nbsp; <input type="button" class="btn" ng-click="close([question, answer])" data-dismiss="modal" aria-hidden="true" value="Add">
          </div>
		    </form>
      </div>
    </div>
 </div>
</div>
