<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content screen dollars">
      <div class="modal-body">
        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
        <p>{{ finaljeopardy.answer }}</p>
        <div class="col-xs-6">
          <fieldset ng-disabled="wrong1">
            <button type="button" ng-click="finalright(player1); wrong1=true" class="btn btn-success playerbtn">{{ player1.name | uppercase }}</button>
            <button type="button" ng-click="finalloss(player1); wrong1=true" class="btn btn-danger playerbtn">{{ player1.name | uppercase }}</button>
          </fieldset>
        </div>
        <div class="col-xs-6">
          <fieldset ng-disabled="wrong2">
            <button type="button" ng-click="finalright(player2); wrong2=true" class="btn btn-success playerbtn">{{ player2.name | uppercase }}</button>
            <button type="button" ng-click="finalloss(player2); wrong2=true" class="btn btn-danger playerbtn">{{ player2.name | uppercase }}</button>
          </fieldset>
      </div>
      <div class="col-xs-12">
            <button type="button" ng-click="close()" class="btn btn-success playerbtn whowon" data-dismiss="modal">Who Won?</button>
      </div>
      </div>
    </div>
  </div>
</div>