<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h1>Log In</h1>
        <form class="form-group">
          Username: <input type="text" class="form-control" ng-model="user"></input>
          Password: <input type="password" class="form-control" ng-model="pw"></input>
          <button type="button" ng-click="close({'user': user, 'pw': pw})" data-dismiss="modal">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
