<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content screen">
      <div class="modal-body">
        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
        <input type="text" class="form-control" name="newGameTitle" ng-model="gameTitle" placeholder="Give Your Game a Name!">
        <button type="button"class="btn btn-success playerbtn" ng-click="close(gameTitle)" data-dismiss="modal">Submit</button>

  </div>
</div>
